<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="i8583_version" value="v2"/>
  </appSettings>
  <macs>
    <mac name="cancel_deal" enable="false" value="00000000" />
    <mac name="deal" enable="false" value="00000000" />
    <mac name="cancel_prepay" enable="false" value="00000000" />
    <mac name="prepay" enable="false" value="00000000" />
  </macs>
</configuration>
