@model AccountInput
<div class="fieldInput">
    <label class="large" for="accountName">
        卡号:</label>
    <input type="text" name="accountName" id="accountName" class="t_ipt_fc largeInput" maxlength="@Model.AccountNameLength" />
</div>
<div class="fieldInput">
    <label class="large" for="amount">
        金额:</label>
    <input type="text" name="amount" id="amount" class="t_ipt_fc largeInput" />
</div>
