<?xml version="1.0" encoding="utf-8" ?>
<node>
  <node name="system" title="用户管理">
    <node controller="Role" action="List" />
    <node controller="AdminUser" action="List" />
  </node>
  <node name="system" title="基础设置">
    <node controller="Site" action="EditSite"/>
    <node controller="WeChat" action="Edit" />
    <!--<node controller="Site" action="EditTicketTemplate" />-->
    <!--<node controller="Site" action="EditMessageTemplate" />
    <node controller="Site" action="SmsParam" />
    <node controller="DealWay" action="List" /> 
    <node controller="Log" action="List" />-->
  </node>
  <node name="resources" title="系统维护">
    <!--<node controller="Site" action="AccountMessagePanel" />
    <node controller="Distributor" action="List" />-->
    <node controller="Shop" action="List" />
    <node controller="PosEndPoint" action="List" />
    <node controller="AccountType" action="List" />
    <!--<node controller="AccountLevelPolicy" action="List" />-->
    
    
    
    <!--<node controller="Task" action="Recharging" />-->
    <!--<node controller="Task" action="LimitAmount" />-->
    <!--<node controller="Commodity" action="List" />-->
  </node>
  <!--<node name="PointG" title="积分管理">
    <node controller="PointGift" action="List" />
    <node controller="PointPolicy" action="List" />
    <node controller="PointRebate" action="List" />
    <node controller="Account" action="Gift" />
  </node>-->
  <node name="account" title="会员管理">
    <node controller="Account" action="Init" />
    <node controller="Account" action="List" />
    <!--<node controller="Account" action="Open" />
    <node controller="Account" action="Recharging" />
    <node controller="Account" action="AreaRecharing" />
    <node controller="Account" action="Renew" />
    <node controller="Account" action="ChangeName" />
    <node controller="Account" action="Close" />
    <node controller="Account" action="ChangePassword" />
    <node controller="Account" action="Transfer" />
    <node controller="Account" action="SystemPay" title="在线消费" />-->
    <!--<node controller="PrintTicket" action="List" />-->
  </node>
  <!--<node title="会员事务">
    <node controller="Account" action="ChangeLimitAmount" title="修改会员信用额度" />
  </node>-->
  <!--<node title="在线交易">
    <node controller="DealOnline" action="Pay" title="消费" />
    <node controller="DealOnline" action="CancelPay" title="撤消" />
  </node>-->
  <node name="AdmissionTicket" title="门票管理">
    <node controller="AdmissionTicket" action="Create" />
    <node controller="AdmissionTicket" action="List" />
  </node>
  <node name="Coupons" title="优惠卷管理">
    <node controller="Coupons" action="Create" />
    <node controller="Coupons" action="List" />
  </node>
  <node name="system" title="文章管理">
    <node controller="Articles" action="List" />
  </node>
  <node name="deallog" title="初级报表"> 
    <node controller="deallog" action="List" />
    <node controller="TicketOff" action="List" />
    <!--<node controller="Liquidate" action="List" />-->
    <!--<node controller="Rollback" action="apply" />
    <node controller="Rollback" action="List" />-->
    <!--<node controller="PrePay" action="List" />
    <node controller="DistributorBrokerage" action="ListDistributorBroekerage" />
    <node controller="shopdeallog" action="List" />
    <node controller="systemdeallog" action="List" />
    <node controller="CashDealLog" action="List" />
    <node controller="CashDealLogSummary" action="List" />
    <node controller="PointRebateLog" action="List" />
    <node controller="Order" action="List" />-->
  </node>
  <!--<node name="shop" title="商户事务">
    <node title="对账" >
      <node title="发起对账" controller="ShopLiquidate" action="Manage" /> 
    </node>
  </node>-->
  <!--<node name="accountreport" title="中级报表">
    <node controller="Report" action="Accounts" />
    <node controller="Report" action="Accounts2" />
    <node controller="Report" action="ExpiredAccounts" />
    <node controller="Report" action="Recharging" />
    <node controller="Report" action="RechargingList" /> 
    <node controller="Report" action="SaleAccountList" />
    <node controller="Report" action="CreateAccount" />
    <node controller="Report" action="CreateAccountList" />
  </node>-->
  <!--<node name="report" title="高级报表">
    <node controller="Report" action="ShopDeals" />
    <node controller="Report" action="ShopDealAccountType" />
    <node controller="Report" action="AccountDeals" />
    <node controller="Report" action="AccountDealsList" />
    <node controller="Report" action="SystemDealLogByUser" />
    <node controller="Report" action="PrepayList" />
    <node controller="Report" action="AccountDealsForAccount" />
    <node controller="Report" action="AllSystemSummary" />
    <node controller="Report" action="SystemDealLogDay" />
  </node>-->
</node>
