@model string
<div id="cancelPayProcessing" class="@Model clearfix">
    <div class="serialnoselector">
        输入流水号
    </div>
    <div class="userselector">
        选择用户
    </div>
    <div class="passwordselector">
        确认交易
    </div>
</div>