@model string
<div id="payProcessing" class="@Model clearfix">
    <div class="shopselector">
        选择商户
    </div>
    <div class="userselector">
        选择用户
    </div>
    <div class="passwordselector">
        确认交易
    </div>
</div>